.subheader {
    background-image: url(../img/download3.jpg);
    background-position: center;
}
.subheader .overlay {
        background-color: rgba(0,0,0,0.45);
}
@media (max-width: 1024px) {

        h1 {
            padding: 50px 0;
        }
}